.signin{
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
}
.signin__form{
    width: 90%;
    margin: 21vh auto;
}

@media(max-width: 760px){
    .signin{
        grid-template-columns: 1fr;
    }
    .signin__form{
        margin: 4vh auto;
    }
}









/* .signin form{
    max-width: 500px;
    margin: 0 auto;
}
.input__container{
    position: relative;
}
.signin__img{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}
.signin input{
    width: 100%;
    font-size: 1rem;
    padding: .9rem;
    font-weight: 400;
    font-family: inherit;
    background: #F4F2F2;
    border: none;
    border-radius: 6px;
}
.signin__form h1{
    color: #18345E;
    font-size: 3rem;
    font-weight: 700;
}
.signin__form label{
    display: block;
    margin-bottom: 1.37rem;
}
.signin__form label span{
    color: #18345E;
    font-size: 1rem;
    font-weight: 400;
}
.signin__form button{
    width: 100%;
    padding: .9rem;
    font-weight: 700;
    font-size: 1.125rem;
    border: 0;
    margin-top: 1.9rem;
    border-radius: 5px;
    color: #fff;
    background: #F0AB20;
} */