.signup{
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
}
.signup__form{
    width: 90%;
    margin: 12vh auto;
}
.signup__form label{
    flex: 1;
}
.signup .signup__name, .signup .signup__password{
    display: flex;
    gap: 0 20px;
}
.signup__form button:disabled{
    background: #F1D59B;
    /* background: red; */
}
.highlight{
    color: #22C1DC;
}
.signup__password-requirements .highlight span{
    border: 0;
    background-color: #22C1DC;
}
.signup__password-requirements span{
    width: 12px;
    height: 12px;
    margin-right: 9px;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #18345E;
}

@media(max-width: 1000px){
    .signup .signup__name, .signup .signup__password{
        flex-direction: column;
    }
}

@media(max-width: 760px){
    .signup{
        grid-template-columns: 1fr;
    }
    .signup__form{
        margin: 4vh auto;
    }
}
