.signin{
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
}
.signin__form{
    width: 90%;
    margin: 21vh auto;
}

@media(max-width: 760px){
    .signin{
        grid-template-columns: 1fr;
    }
    .signin__form{
        margin: 4vh auto;
    }
}
