@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Spectral', serif;;
}
a{
  text-decoration: none;
  color: unset;
}
.form{
  max-width: 500px;
  margin: 0 auto;
}
.input__container{
  position: relative;
}
.form__img{
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
.form input{
  width: 100%;
  font-size: 1rem;
  padding: .9rem;
  font-weight: 400;
  font-family: inherit;
  background: #F4F2F2;
  border: none;
  border-radius: 6px;
}
.form h1{
  color: #18345E;
  font-size: 3rem;
  font-weight: 700;
}
.form label{
  display: block;
  margin-bottom: 1.37rem;
}
.form label span{
  color: #18345E;
  font-size: 1rem;
  font-weight: 400;
}
.form button{
  width: 100%;
  padding: .9rem;
  font-weight: 700;
  font-size: 1.125rem;
  border: 0;
  margin-top: 1.9rem;
  border-radius: 5px;
  color: #fff;
  background: #F0AB20;
}
.form .action{
  text-align: center;
  color: #312E81;
  font-size: 1.125rem;
  margin-top: 1.43rem;
}
.form .action span{
  color: #22C1DC;
}
.error {
  color: red;
  background: pink;
  border: 1px solid red;
  border-radius: 4px;
  padding: 16px;
  font-size: 16px;
  margin: 15px 0;
}
.success {
  color: #006156;
  background: #DEF5F2;
  border: 1px solid green;
  border-radius: 4px;
  padding: 16px;
  font-weight: bold;
  font-size: 16px;
  margin: 15px 0;
}

@media(max-width: 760px){
  .form h1{
    margin-bottom: 1rem;
    font-size: 2rem;
    text-align: center;
  }
}